* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Estilos en el body*/
#grilla {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.1fr 0.2fr 2fr 0.2fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "menu menu"
    "titulo titulo "
    "principal principal "
    "footer footer ";
}

/* Estilos en el header-general */
header {
  width: 100%;
  height: 110px;
  background-color: #2aa821;
  grid-area: titulo;
}
.h1Header {
  font-size: 1.5em;
}
.headerNav {
  border: 5px solid #054598;
}
nav {
  width: 100%;
  height: 50px;
  grid-area: menu;
  justify-content: flex-start;
}
.color-nav {
  background-color: #2aa821;
}
.headerDivh1 {
  display: flex;
  color: #fef9fd;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  font-family: "Gayathri", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}
.divContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

nav ul li a:link,
a:visited,
a:active {
  list-style: none;
  text-decoration: underline;
  color: #fef9fd;
}
nav ul {
  list-style-type: none;
}
li {
  display: inline-block;
  border-right: 1px solid #054598;
  padding: 5px;
}
/*Estilos en la main  */

main {
  background-color: #fef9fd;
  /* width: 100%;
  height: calc(100vh - 190px);*/

  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-area: principal;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 0.1fr;
  grid-template-areas:
    "prim aside"
    "sub21 aside"
    "formativas aside"
    "fem aside";
}
#mainHincha {
  background-color: #fef9fd;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-image: url(../images/Escudo\ YANDA.png);
  background-position: center;
  background-size: 70%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "h3"
    "form"
    ".";
  justify-items: center;
  align-items: baseline;
  justify-content: center;
}
#mainGaleria {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas:
    " . imagenes imagenes .  "
    " . imagenes  imagenes .  "
    " . imagenes imagenes .  ";
  justify-items: center;
}

.imgGaleria {
  grid-area: imagenes;
}
#mainNoticias {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 3fr 0.5fr;
  grid-template-areas:
    "noticiasPrimera aside"
    "noticiasSub21 aside"
    "noticiasForm aside"
    "noticiasFem aside";
}
#h3Hincha {
  grid-area: h3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#formHincha {
  grid-area: form;
}
#mainNosotros {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "parrafo";
}

/* Estilos main-section */

#primera {
  grid-area: prim;
}
#sub21 {
  grid-area: sub21;
}
#formativas {
  grid-area: formativas;
}
#femenino {
  grid-area: fem;
}
.divArticle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 12px;
  margin-left: 0;
  border-top: none;
  background-color: #c6fdd0;
  border: 3px solid #054598;
}

.divArticle1 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 12px;
  margin-left: 0;
  border-top: none;
  border: 3px solid #054598;
}

.divH3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

#noticias1ra {
  text-align: center;
  grid-area: noticiasPrimera;

  font-size: large;
}
#noticiasSub21 {
  text-align: center;

  grid-area: noticiasub21;

  font-size: large;
}
#noticiasFormativas {
  text-align: center;
  font-size: large;

  grid-area: noticiasForm;
}
#noticiasFemenino {
  text-align: center;

  font-size: large;
  grid-area: noticiasFem;
}
.escudoNoticias {
  background-color: #2aa821;
}
.divP {
  background-color: #fef9fd;
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  font-family: cursive;
  font-size: xx-large;
  text-align: -webkit-center;
  grid-area: parrafo;
}
.divGaleria {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Estilos main-aside */
aside {
  background-color: #fef9fd;
  grid-area: aside;
  height: 100%;
  border: 3px solid #054598;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 9px;
  margin-top: 12px;
}
.asideHincha {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #2aa821;
  text-align: center;
}

/* Estilos en el footer */
footer {
  background-color: #054598;
  grid-area: footer;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: white;
  position: unset;
  border: 5px solid #2aa821;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

div a {
  color: #fef9fd;
}
@media only screen and(max-width:1024px) {
}

@media only screen and (max-width: 500px) {
  .h1Header {
    font-size: 1.5em;
  }
}
